.login-container {
  border: 2px solid #424242;
  /* Subtle border matching the darker theme */
  padding: 20px;
  width: 300px;
  margin: 50px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  /* Stronger shadow for more depth */
  background-color: #333;
  /* Dark background for the container */
}

.login-container h2 {
  text-align: center;
  color: #f4f4f4;
  /* Light text for contrast against dark background */
  font-size: 24px;
}

.login-container label {
  font-size: 18px;
  color: #ddd;
  /* Lighter text color for readability on dark background */
  display: block;
  margin-bottom: 5px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #555;
  /* Darker border for inputs */
  border-radius: 4px;
  box-sizing: border-box;
  /*  background-color: #424242; 
  color: #f4f4f4;*/
}

.login-container input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  /* Bright accent color for actions */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
}

.login-container input[type="submit"]:hover {
  background-color: #0056b3;
  /* Darker blue on hover for better feedback */
}