.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #333;
  /* Dark background for the whole page */
  color: #f4f4f4;
  /* Light text for readability */
}

.post {
  width: 80%;
  max-width: 600px;
  background-color: #424242;
  /* Slightly lighter dark shade for contrast */
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* Stronger shadow for depth */
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.post:hover {
  background-color: #383838;
  /* Darker background on hover */
  transform: translateY(-5px);
  /* Slight lift effect on hover */
}

.post h2 {
  color: #f4f4f4;
  /* Light text for the title */
  margin-bottom: 10px;
}

.post p {
  color: #f4f4f4;
  /* Light text for the content for better contrast */
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 0.9em;
  color: #ccc;
  /* Lighter color for metadata */
}